// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.banner-image {
  background-image: asset-url('movie_theather.webp');
}

.list{
  //display: flex;
  padding: 5px;
}
.list-card {
  border-radius: 2px;
  height: 80px;
  width: 150px;
  background-position: 50% 50%; 
  background-size: cover;
}